.layout-content-container .wiki-welcome h1 {
  font-size: 36px;
  font-weight: bold;
}
.layout-content-container .wiki-welcome h2 {
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  margin: 10px 0 10px 0;
}
.layout-content-container .wiki-bg {
  padding: 440px 0 150px;
  background-image: url('../wiki-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 100px;
}
@media only screen and (max-width: 520px) {
  .layout-content-container .wiki-bg {
    background-size: contain;
  }
}
.layout-content-container .wiki-page-path {
  float: left;
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
.layout-content-container .wiki-page-path .fa {
  font-size: 18px;
}
.layout-content-container .wiki-page-actions {
  float: right;
}
.layout-content-container .wiki-page-actions .btn-group {
  margin-left: 4px;
}
.layout-content-container .wiki-page-index {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 5px;
  margin-bottom: 10px;
}
.layout-content-container .wiki-page-index .nav {
  padding: 0;
  margin: 0;
}
.layout-content-container .wiki-page-index .nav > li > a {
  padding: 6px 15px;
}
.layout-content-container .wiki-page-index .nav > li > a .fa {
  margin-right: 5px;
}
.layout-content-container .wiki-page-index .wiki-page-index-section,
.layout-content-container .wiki-page-index .wiki-page-index-sub-section {
  white-space: nowrap;
}
.layout-content-container .wiki-page-index .wiki-page-index-section .header-anchor,
.layout-content-container .wiki-page-index .wiki-page-index-sub-section .header-anchor {
  text-overflow: ellipsis;
  overflow: hidden;
}
.layout-content-container .wiki-page-index .wiki-page-index-sub-section {
  padding-left: 10px;
}
.layout-content-container #wiki-page-edit .ProseMirror-menubar-wrapper {
  z-index: 8;
}
.layout-content-container #wiki-page-edit .ProseMirror {
  min-height: 150px !important;
}
.layout-content-container .wiki-content hr.dashed,
.layout-content-container .wiki-page-index hr.dashed {
  border-style: dashed;
}
.layout-content-container .wiki-page-content {
  min-height: 220px;
}
.layout-content-container .wiki-page-content .topic-label-list {
  margin-bottom: 10px;
}
.layout-content-container .wiki-page-content .wiki-headline {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.layout-content-container .wiki-page-content .wiki-headline .label {
  margin-left: 2px;
}
.layout-content-container .wiki-page-content .wiki-headline .wiki-page-title {
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  color: #000;
  clear: both;
}
.layout-content-container .wiki-page-content .wiki-headline .wiki-page-path a,
.layout-content-container .wiki-page-content .wiki-headline .wiki-content-info a {
  color: #21A1B3;
}
.layout-content-container .wiki-page-content .wiki-headline .wiki-page-path a:hover,
.layout-content-container .wiki-page-content .wiki-headline .wiki-content-info a:hover {
  color: #000;
}
.layout-content-container .wiki-page-content hr.wiki-headline-seperator {
  margin: 20px 0 10px;
}
.layout-content-container .wiki-page-content .wiki-category-list-item {
  padding-bottom: 0 !important;
}
.layout-content-container .wiki-page-content .markdown-render {
  margin-bottom: 10px;
}
.layout-content-container .wiki-page-content .wiki-sub-pages {
  border-bottom: 1px solid #eee;
  border-top: 1px dashed #eee;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.layout-content-container .wiki-page-content .wiki-sub-pages ul.wiki-page-list {
  margin-bottom: 0;
  padding-left: 2px;
}
.layout-content-container .wiki-content .wiki-content-info {
  margin-top: 5px;
}
.layout-content-container .wiki-content [data-wiki-page] {
  color: #4cc159 !important;
}
.layout-content-container .wiki-content [data-wiki-page="#"] {
  color: #ec4332 !important;
}
.layout-content-container .wiki-content .page-title.editable,
.layout-content-container .wiki-content .page-category-title.editable {
  cursor: pointer;
}
.layout-content-container .wiki-content .page-title.editable .fa-pencil,
.layout-content-container .wiki-content .page-category-title.editable .fa-pencil {
  margin-left: 5px;
}
.layout-content-container .wiki-content .page-title.editable:hover,
.layout-content-container .wiki-content .page-category-title.editable:hover {
  background-color: #fff8e0;
}
.layout-content-container .wiki-content .social-controls,
.layout-content-container .wiki-content .social-controls a {
  font-size: 11px;
  color: #AEAEAE;
  margin-bottom: 10px;
}
.layout-content-container .wiki-content .wall-entry-controls .like {
  font-size: 11px;
  color: #AEAEAE;
}
.layout-content-container .wiki-content ul.wiki-page-list {
  list-style: none;
  min-height: 2px;
  padding-left: 10px;
}
.layout-content-container .wiki-content ul.wiki-page-list li {
  font-size: 14px;
  padding-bottom: 6px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .wiki-edit,
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title .wiki-edit {
  padding-left: 5px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa,
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title .fa {
  font-size: 14px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .wiki-page-control,
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title .wiki-page-control {
  color: #999999;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .wiki-page-control.wiki-category-add,
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title .wiki-page-control.wiki-category-add {
  color: #000;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title {
  font-weight: bold;
  margin-bottom: 6px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title,
.layout-content-container .wiki-content ul.wiki-page-list .page-title {
  padding-top: 5px;
  padding-bottom: 5px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title:hover,
.layout-content-container .wiki-content ul.wiki-page-list .page-title:hover {
  background: #F7F7F7;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title.page-current a.page-title-text,
.layout-content-container .wiki-content ul.wiki-page-list .page-title.page-current a.page-title-text {
  font-weight: bold;
  color: #21A1B3;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title .fa-caret-down,
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa-caret-down {
  margin: 0 6px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-category-title .fa-caret-right,
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa-caret-right {
  margin: 0 8px 0 7px;
}
.layout-content-container .wiki-content ul.wiki-page-list ul.wiki-page-list {
  padding-left: 0;
  min-height: 10px;
}
.layout-content-container .wiki-content ul.wiki-page-history {
  list-style: none;
  margin-left: 22px;
  padding-left: 0;
  border-left: 1px dashed #AEAEAE;
}
.layout-content-container .wiki-content ul.wiki-page-history.wiki-page-history-with-diff li {
  padding-left: 38px;
}
.layout-content-container .wiki-content ul.wiki-page-history li {
  padding: 7px 18px;
  position: relative;
}
.layout-content-container .wiki-content ul.wiki-page-history li h5 {
  margin-bottom: 0;
}
.layout-content-container .wiki-content ul.wiki-page-history li .time,
.layout-content-container .wiki-content ul.wiki-page-history li .time a {
  font-size: 12px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .horizontal-line {
  position: absolute;
  left: 2px;
  top: 13px;
  letter-spacing: 1px;
  color: #AEAEAE;
}
.layout-content-container .wiki-content ul.wiki-page-history li .horizontal-line label {
  margin-bottom: -5px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .wiki-author-link {
  color: #AEAEAE;
  text-decoration: underline;
}
.layout-content-container .wiki-content ul.wiki-page-history li .wiki-page-view-link {
  font-weight: normal;
  font-size: 12px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .wiki-page-view-link .fa {
  font-size: 12px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .alert {
  padding: 10px;
  margin-bottom: 0;
}
.layout-content-container .wiki-content ul.wiki-page-history li .alert .horizontal-line {
  top: 24px;
}
.layout-content-container .wiki-content button.wiki-page-history-btn-compare {
  margin-left: 15px;
}
.layout-content-container .wiki-content.wiki-page-diff ins {
  text-decoration: none;
  background-color: #d4fcbc;
}
.layout-content-container .wiki-content.wiki-page-diff del {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}
.layout-content-container .wiki-page-history-title {
  padding-left: 15px;
}
.layout-content-container .wiki-page-history-title .fa {
  font-size: 14px;
}
.layout-content-container .wiki-content .new {
  color: #4cc159;
}
.layout-content-container .wiki-content .delete {
  color: #ec4332;
}
.layout-content-container .wiki-content .history {
  color: #ff8a00;
}
.layout-content-container .wiki-content .fa-link {
  color: #7880dd;
  margin-right: 4px;
}
.layout-content-container .wiki-content .edit {
  color: #00a8e6;
}
.layout-content-container .wiki-content .back {
  color: #555555;
}
@media (max-width: 767px) {
  .wiki-page-content {
    min-height: 220px;
  }
}
.wiki-page-content-header {
  margin-bottom: 10px;
  padding: 10px 10px;
  border-bottom: 1px solid #EDEDED;
}
.wiki-page-content-header h3 {
  float: left;
  font-size: 20px;
  white-space: nowrap;
  margin: 3px 30px 10px 0;
  padding: 0;
}
.wiki-page-content-header h3 .fa {
  font-size: 20px;
}
.wiki-page-content-header .wiki-search-form {
  margin: 0 0 10px;
}
.wiki-page-content-header .wiki-page-content-header-actions {
  float: right;
}
.wiki-page-content-header .wiki-page-content-header-actions .btn {
  margin-bottom: 4px;
}
.wiki-search-form {
  float: right;
  position: relative;
  margin-left: 4px;
  max-width: 168px;
}
.wiki-search-form input[name=keyword] {
  padding-left: 26px;
  height: 31px;
  min-height: 31px;
}
.wiki-search-form button[type=submit] {
  position: absolute;
  top: 0;
  background: none;
  padding: 5px 8px;
}
.wiki-search-form button[type=submit]:focus {
  background: none;
  box-shadow: none;
}
.wiki-search-form button[type=submit] i.fa {
  color: #D7D7D7 !important;
}
.wiki-page-sidebar {
  padding-right: 0;
}
.wiki-page-sidebar #category_list_view.wiki-page-list {
  padding-left: 0;
  margin-left: -14px;
  margin-right: -14px;
}
.wiki-page-sidebar #category_list_view.wiki-page-list .page-category-title,
.wiki-page-sidebar #category_list_view.wiki-page-list .page-title {
  padding-left: 12px;
  padding-right: 5px;
}
.wiki-page-sidebar .wiki-page-content {
  padding: 0 4px;
}
.wiki-page-sidebar .wiki-page-content-header {
  padding: 3px 0 0;
  border: none;
}
.wiki-page-sidebar .wiki-page-content-header h3 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  padding: 0;
  margin: 5px 0;
}
.wiki-page-sidebar .wiki-page-content-header h3 .fa {
  font-size: 16px;
}
.wiki-page-sidebar .wiki-page-content-header .btn-sm {
  padding: 6px 11px;
  margin: 0 0 4px 4px;
}
.wiki-page-sidebar .wiki-page-content-header .wiki-page-content-header-actions {
  padding: 0;
}
.wiki-page-sidebar .wiki-page-content-header .wiki-search-form {
  margin: 0 0 0 5px;
}
@media (max-width: 1199px) {
  .wiki-page-sidebar {
    padding-right: 15px;
  }
  .wiki-page-sidebar #category_list_view.wiki-page-list {
    margin-left: 0;
    margin-right: 0;
  }
  .wiki-page-sidebar .wiki-page-content-header {
    border-bottom: 1px solid #EDEDED;
    padding: 14px 8px 20px 8px;
  }
  .wiki-page-sidebar .wiki-page-content-header h3 {
    color: #555;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
  }
  *.wiki-page-sidebar .wiki-page-content-header h3,
  .wiki-page-sidebar .wiki-page-content-header h3 .fa {
    font-size: 20px;
  }
  .wiki-page-sidebar .wiki-page-content-header .btn-sm {
    padding: 4px 8px;
    margin-top: 4px;
  }
  .wiki-page-sidebar .wiki-search-form {
    float: left;
    max-width: none;
    margin-left: 34px;
  }
}
.wiki-page-list-table .wiki-search-form {
  float: left;
}
.wiki-page-list-table .table-responsive {
  padding-left: 15px;
  padding-right: 15px;
}
.wiki-page-list-table .table-responsive table tr:hover .wiki-page-list-row-title a {
  color: #21A1B3;
}
.wiki-page-list-table .table-responsive table td {
  font-size: 14px;
  border: none;
}
.wiki-page-list-table .table-responsive table td:first-child {
  padding-left: 32px;
  border-radius: 4px 0 0 4px;
}
.wiki-page-list-table .table-responsive table td:last-child {
  border-radius: 0 4px 4px 0;
}
*.wiki-page-list-table .table-responsive table .wiki-page-list-row-details,
.wiki-page-list-table .table-responsive table .wiki-page-list-row-details .time {
  font-size: 13px;
}
.wiki-page-list-table .table-responsive table .wiki-page-list-row-details a {
  color: #21A1B3;
}
.wiki-page-list-table .table-responsive .pagination > .active > a,
.wiki-page-list-table .table-responsive .pagination > .active > span,
.wiki-page-list-table .table-responsive .pagination > .active > a:hover,
.wiki-page-list-table .table-responsive .pagination > .active > span:hover,
.wiki-page-list-table .table-responsive .pagination > .active > a:focus,
.wiki-page-list-table .table-responsive .pagination > .active > span:focus {
  background-color: #21A1B3;
  border-color: #21A1B3;
}
@media (max-width: 1199px) {
  .wiki-page-list-table .table-responsive {
    border: none;
  }
}
.wiki-preview {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 10px;
}
.wiki-preview .wiki-preview-content {
  margin-bottom: 10px;
}
.wiki-icon-print {
  float: right;
  cursor: pointer;
}
@media print {
  .wiki-icon-print,
  .wiki-menu,
  .wiki-content-info,
  .social-controls,
  .comment-container,
  .footer-nav,
  .space-nav,
  #topbar-first {
    display: none;
  }
  .layout-content-container .wiki-content {
    border: none;
  }
  .space-layout-container {
    margin: 0;
  }
  #page-content-wrapper {
    padding: 0;
  }
}
