.layout-content-container .wiki-welcome h1 {
  font-size: 36px;
  font-weight: bold;
}
.layout-content-container .wiki-welcome h2 {
  font-size: 14px;
  font-weight: 200;
  line-height: 24px;
  margin: 10px 100px;
}
@media (max-width: 768px) {
  .layout-content-container .wiki-welcome h2 {
    margin: 10px;
  }
}
.layout-content-container .wiki-bg {
  padding: 150px 0 150px;
  background-repeat: no-repeat;
  background-position: center 100px;
}
@media only screen and (max-width: 520px) {
  .layout-content-container .wiki-bg {
    background-size: contain;
  }
}
.layout-content-container .wiki-page-path {
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}
.layout-content-container .wiki-page-path .fa {
  font-size: 28px;
}
@media only screen and (max-width: 520px) {
  .layout-content-container .wiki-page-path .wiki-page-path-categories {
    display: none;
  }
}
.layout-content-container .wiki-menu {
  white-space: nowrap;
}
.layout-content-container .wiki-menu .btn-group {
  margin-left: 4px;
}
.layout-content-container .wiki-page-index {
  max-width: 300px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 30px 0;
}
.layout-content-container .wiki-page-index .nav {
  padding: 0;
  margin: 0;
}
.layout-content-container .wiki-page-index .nav li {
  margin: 2px 0;
}
.layout-content-container .wiki-page-index .nav li a {
  padding: 3px 15px;
  color: #21A1B3 !important;
}
.layout-content-container .wiki-page-index .nav li a > span {
  font-weight: 600;
  color: #000 !important;
  margin-right: 10px;
}
.layout-content-container .wiki-page-index .nav li:first-child a {
  font-size: 14px;
  font-weight: 600;
  color: #000 !important;
}
.layout-content-container .wiki-page-index .wiki-page-index-section,
.layout-content-container .wiki-page-index .wiki-page-index-sub-section {
  white-space: nowrap;
}
.layout-content-container .wiki-page-index .wiki-page-index-section .header-anchor,
.layout-content-container .wiki-page-index .wiki-page-index-sub-section .header-anchor {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 20px;
}
.layout-content-container .wiki-page-index .wiki-page-index-sub-section .header-anchor {
  padding-left: 50px;
}
.layout-content-container .current-anchor-header {
  background: rgba(255, 193, 7, 0.1);
  width: fit-content;
  border-radius: 4px;
}
.layout-content-container #wiki-page-edit .ProseMirror-menubar-wrapper {
  z-index: 8;
}
.layout-content-container #wiki-page-edit .ProseMirror {
  min-height: 150px !important;
}
.layout-content-container .wiki-content hr.dashed,
.layout-content-container .wiki-page-index hr.dashed {
  border-style: dashed;
}
.layout-content-container .wiki-page-content {
  min-height: 220px;
}
.layout-content-container .wiki-page-content .topic-label-list {
  margin-bottom: 10px;
}
.layout-content-container .wiki-page-content .wiki-page-title {
  font-size: 1.75em;
  font-weight: 500;
  color: #000;
  clear: both;
}
.layout-content-container .wiki-page-content .wiki-page-title i.fa {
  margin-right: 4px;
}
.layout-content-container .wiki-page-content .wiki-page-body {
  padding: 0 30px 30px;
}
.layout-content-container .wiki-page-content .wiki-headline {
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.layout-content-container .wiki-page-content .wiki-headline .wiki-headline-top {
  display: flex;
  justify-content: space-between;
}
.layout-content-container .wiki-page-content .wiki-headline .label {
  margin-left: 2px;
}
.layout-content-container .wiki-page-content .wiki-headline .wiki-page-path a {
  color: #21A1B3;
}
.layout-content-container .wiki-page-content .wiki-headline .wiki-page-path a:hover {
  color: #000;
}
.layout-content-container .wiki-page-content hr.wiki-headline-seperator {
  margin: 20px 0 10px;
}
.layout-content-container .wiki-page-content .wiki-category-list-item {
  padding-bottom: 0 !important;
  position: relative;
}
.layout-content-container .wiki-page-content .wiki-category-list-sort-fixer {
  position: absolute;
  visibility: hidden;
}
.layout-content-container .wiki-page-content .markdown-render {
  margin-bottom: 10px;
}
.layout-content-container .wiki-page-content .wiki-sub-pages {
  border: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .layout-content-container .wiki-page-content .wiki-sub-pages {
    width: 50%;
  }
}
.layout-content-container .wiki-page-content .wiki-sub-pages ul.wiki-page-list {
  margin-bottom: 0;
  padding-left: 2px;
}
.layout-content-container .wiki-page-content .wiki-sub-pages ul.wiki-page-list .page-title:hover {
  border-color: transparent;
}
.layout-content-container .wiki-page-content .wiki-sub-pages a,
.layout-content-container .wiki-page-content .wiki-sub-pages span.page-title-info {
  font-size: 13px;
  font-weight: 500;
  color: #555;
}
.layout-content-container .wiki-page-content .wiki-sub-pages a {
  color: #21A1B3;
}
.layout-content-container .wiki-page-content .wiki-sub-pages ul.wiki-page-list {
  padding: 0;
}
.layout-content-container .wiki-page-content .wiki-sub-pages ul.wiki-page-list .page-title {
  padding-top: 0;
  padding-bottom: 0;
}
.layout-content-container .wiki-page-content .wiki-sub-pages span.page-title-text {
  display: inline-block;
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
}
*.layout-content-container .wiki-page-list-row-details,
.layout-content-container .wiki-page-list-row-details a,
.layout-content-container .wiki-page-list-row-details .time {
  color: #7A7A7A;
  font-size: 12px;
}
.layout-content-container .wiki-content .wiki-content-info {
  margin-top: 5px;
}
.layout-content-container .wiki-content .wiki-content-info a {
  color: #555;
}
.layout-content-container .wiki-content .wiki-content-info a:hover {
  color: #21A1B3;
}
.layout-content-container .wiki-content [data-wiki-page] {
  color: #4cc159 !important;
}
.layout-content-container .wiki-content [data-wiki-page="#"] {
  color: #ec4332 !important;
}
.layout-content-container .wiki-content .social-controls,
.layout-content-container .wiki-content .social-controls a {
  font-size: 11px;
  color: #AEAEAE;
  margin-bottom: 10px;
}
.layout-content-container .wiki-content .wall-entry-controls .like {
  font-size: 11px;
  color: #AEAEAE;
}
.layout-content-container .wiki-content ul.wiki-page-list {
  list-style: none;
  padding-left: 0;
}
.layout-content-container .wiki-content ul.wiki-page-list.wiki-page-list-droppable-target {
  height: 15px;
  bottom: 9px;
  position: absolute;
  width: 100%;
  display: block !important;
}
.layout-content-container .wiki-content ul.wiki-page-list.wiki-page-list-droppable-target li {
  display: none !important;
}
.layout-content-container .wiki-content ul.wiki-page-list.wiki-page-list-droppable-target .ui-sortable-drop-area {
  margin-top: 10px !important;
  border: none !important;
}
.layout-content-container .wiki-content ul.wiki-page-list li {
  font-size: 16px;
  padding-bottom: 6px;
}
.layout-content-container .wiki-content ul.wiki-page-list .wiki-list-item-selected {
  background: var(--background-color-highlight-soft);
}
.layout-content-container .wiki-content ul.wiki-page-list .wiki-list-item-selected > .page-title {
  background: var(--background-color-highlight);
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid transparent;
  display: flex;
  cursor: pointer;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa[class*="fa-caret"] {
  cursor: default;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title:hover {
  border-color: #21A1B3;
  border-radius: 4px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title:hover .wiki-category-add {
  display: inline-block;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .wiki-page-control {
  color: #7A7A7A;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .wiki-page-control.wiki-category-add {
  color: #000;
  margin-left: 8px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .wiki-category-add {
  display: none;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa {
  font-size: 14px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa-caret-down {
  margin: 0 6px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa-caret-right {
  margin: 0 8px 0 7px;
}
.layout-content-container .wiki-content ul.wiki-page-list .page-title .fa-file-text-o {
  font-size: 11px;
  color: #AEAEAE;
  margin: 0 5px;
}
.layout-content-container .wiki-content ul.wiki-page-history {
  list-style: none;
  margin-left: 22px;
  padding-left: 0;
  border-left: 1px dashed #AEAEAE;
}
.layout-content-container .wiki-content ul.wiki-page-history.wiki-page-history-with-diff li {
  padding-left: 56px;
}
.layout-content-container .wiki-content ul.wiki-page-history li {
  padding: 20px 18px;
  position: relative;
}
.layout-content-container .wiki-content ul.wiki-page-history li:first-child::before {
  content: '';
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 38px;
}
.layout-content-container .wiki-content ul.wiki-page-history li h4.media-heading {
  font-size: 16px;
  font-weight: 600;
}
.layout-content-container .wiki-content ul.wiki-page-history li h5 {
  margin-bottom: 0;
  color: #000;
  font-size: 13px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .horizontal-line {
  position: absolute;
  left: 2px;
  top: 38px;
  letter-spacing: 1px;
  border-top: 1px dashed #AEAEAE;
}
.layout-content-container .wiki-content ul.wiki-page-history li .horizontal-line input[type=radio] {
  position: relative;
  right: -27px;
  top: -9px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .wiki-author-link {
  color: #AEAEAE;
  text-decoration: underline;
}
.layout-content-container .wiki-content ul.wiki-page-history li .media {
  padding: 0 11px;
}
.layout-content-container .wiki-content ul.wiki-page-history li .alert {
  padding: 10px;
  margin-bottom: 0;
}
.layout-content-container .wiki-content ul.wiki-page-history li .alert .horizontal-line {
  top: 48px;
}
.layout-content-container .wiki-content button.wiki-page-history-btn-compare {
  margin-left: 15px;
}
.layout-content-container .wiki-content.wiki-page-diff ins {
  text-decoration: none;
  background-color: #d4fcbc;
}
.layout-content-container .wiki-content.wiki-page-diff del {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}
.layout-content-container .wiki-page-history-title {
  padding-left: 15px;
  font-weight: 600;
  font-size: 20px;
}
.layout-content-container .wiki-page-history-title .fa {
  font-size: 14px;
}
.layout-content-container .wiki-content .new {
  color: #4cc159;
}
.layout-content-container .wiki-content .delete {
  color: #ec4332;
}
.layout-content-container .wiki-content .history {
  color: #ff8a00;
}
.layout-content-container .wiki-content .fa-link {
  color: #7880dd;
  margin-right: 4px;
}
.layout-content-container .wiki-content .edit {
  color: #00a8e6;
}
.layout-content-container .wiki-content .back {
  color: #555;
}
@media (max-width: 768px) {
  .wiki-page-content {
    min-height: 220px;
  }
}
.wiki-page-content-header {
  display: flex;
  margin-bottom: 10px;
  padding: 10px 10px;
}
.wiki-page-content-header h3 {
  color: #000;
  float: left;
  font-size: 28px;
  white-space: nowrap;
  margin: 0 30px 0 0;
  padding: 0 0 0 15px;
}
.wiki-page-content-header h3 .fa {
  font-size: 20px;
  margin-right: 8px;
  position: relative;
  top: -3px;
}
.wiki-page-content-header .wiki-search-form {
  margin: 0 0 10px;
}
.wiki-page-content-header .wiki-page-content-header-actions {
  float: right;
  padding-top: 5px;
}
.wiki-page-content-header .wiki-page-content-header-actions .btn {
  margin-bottom: 4px;
}
.wiki-page-content-header .wiki-search-form {
  width: 100%;
  max-width: none;
  margin-right: 50px !important;
}
.wiki-page-content-header .wiki-page-content-header-actions {
  white-space: nowrap;
}
@media (max-width: 991px) {
  .wiki-page-content-header .wiki-search-form {
    margin-right: 10px !important;
  }
}
@media (max-width: 479px) {
  .wiki-page-content-header {
    display: block !important;
  }
  .wiki-page-content-header .wiki-search-form {
    width: auto;
    margin-right: 0 !important;
  }
  .wiki-page-content-header .wiki-page-content-header-actions {
    white-space: normal;
  }
}
.wiki-search-form {
  float: right;
  position: relative;
  margin-left: 4px;
  max-width: 168px;
}
.wiki-search-form input[name=keyword] {
  background: #F3F3F3;
  font-size: 13px;
  border: none;
  color: #AEAEAE;
  padding-left: 26px;
  height: 36px;
  min-height: 36px;
}
.wiki-search-form button[type=submit] {
  position: absolute;
  top: 0;
  background: none;
  padding: 5px 8px;
}
.wiki-search-form button[type=submit]:focus {
  background: none;
  box-shadow: none;
}
.wiki-search-form button[type=submit] i.fa {
  color: #7A7A7A !important;
  margin-top: 6px;
}
#category_list_view.wiki-page-list > li > div > .page-title-text {
  font-weight: 600;
}
#category_list_view .wiki-current-target-category > .page-title {
  border-color: #21A1B3;
}
#category_list_view .ui-sortable-drop-area + .wiki-current-target-category > .page-title {
  border-color: transparent;
}
#category_list_view .wiki-current-dropping-page {
  background: rgba(33, 161, 179, 0.12);
}
#category_list_view .wiki-current-dropping-page + .ui-sortable-drop-area {
  display: none;
}
#category_list_view .ui-sortable-helper {
  visibility: hidden;
}
#category_list_view .ui-sortable-helper .fa {
  display: none;
}
#category_list_view .ui-sortable-drop-area {
  border-bottom: 2px solid #000;
  margin-top: -6px;
  margin-bottom: -2px;
}
#category_list_view .drag-icon {
  visibility: hidden;
  color: #AEAEAE;
}
#category_list_view .drag-icon .fa {
  font-size: 11px;
}
#category_list_view:hover .drag-icon {
  visibility: visible;
  cursor: move;
}
.wiki-page-sidebar {
  padding-right: 0;
  position: relative;
}
.wiki-page-sidebar #category_list_view.wiki-page-list {
  padding: 0 0 10px 0;
  margin: 0 -14px;
}
.wiki-page-sidebar #category_list_view.wiki-page-list .page-title {
  padding-left: 12px;
  padding-right: 12px;
}
.wiki-page-sidebar #category_list_view.wiki-page-list.wiki-page-is-dropping ul.wiki-page-list:not(.wiki-page-list-droppable-target) {
  padding-top: 25px;
  margin-top: -25px;
}
.wiki-page-sidebar #category_list_view.wiki-page-list.wiki-page-is-dropping li:not(.wiki-current-target-category-over) > .page-title:hover {
  border-color: transparent !important;
}
.wiki-page-sidebar #category_list_view.wiki-page-list.wiki-page-is-dropping .page-title:hover .wiki-category-add {
  display: none;
}
.wiki-page-sidebar .wiki-page-content {
  padding: 0 4px;
}
.wiki-page-sidebar .wiki-page-content-header {
  display: block;
  padding: 3px 0 0;
  border: none;
}
@media (max-width: 1199px) {
  .wiki-page-sidebar .wiki-page-content-header {
    display: flex;
  }
}
.wiki-page-sidebar .wiki-page-content-header h3 {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  padding: 0;
  margin: 5px 0;
}
.wiki-page-sidebar .wiki-page-content-header h3 .fa {
  font-size: 16px;
  margin: 0;
}
.wiki-page-sidebar .wiki-page-content-header .btn-add-page {
  float: left;
  padding: 4px 6px;
  margin: 9px 0 0 9px;
  line-height: 9px;
}
.wiki-page-sidebar .wiki-page-content-header .btn-add-page:active {
  padding: 3px 5px;
}
.wiki-page-sidebar .wiki-page-content-header .wiki-page-content-header-actions {
  padding: 0;
}
.wiki-page-sidebar .wiki-search-form {
  margin: 55px 0 15px;
  display: block;
  float: none;
  clear: both;
  max-width: none;
}
.wiki-page-sidebar .wiki-content ul.wiki-page-list .page-title:hover {
  border-radius: 0;
}
.wiki-page-sidebar .ui-resizable-handle.ui-resizable-e {
  cursor: ew-resize;
}
@media (max-width: 1199px) {
  .wiki-page-sidebar {
    padding-right: 15px;
  }
  .wiki-page-sidebar:not(.visible-lg) {
    width: 100% !important;
  }
  .wiki-page-sidebar:not(.visible-lg) .ui-resizable-handle {
    display: none;
  }
  .wiki-page-sidebar #category_list_view.wiki-page-list {
    margin-left: 0;
    margin-right: 0;
  }
  .wiki-page-sidebar #category_list_view.wiki-page-list .page-title:hover {
    border-radius: 4px;
  }
  .wiki-page-sidebar .wiki-page-content-header {
    padding: 14px 8px 20px;
  }
  .wiki-page-sidebar .wiki-page-content-header h3 {
    color: #555;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
    margin-right: 16px;
  }
  *.wiki-page-sidebar .wiki-page-content-header h3,
  .wiki-page-sidebar .wiki-page-content-header h3 .fa {
    font-size: 28px;
  }
  .wiki-page-sidebar .wiki-page-content-header .btn-sm {
    padding: 4px 8px;
    margin-top: 4px;
  }
  .wiki-page-sidebar .wiki-page-content-header .btn-add-page {
    display: none;
  }
  .wiki-page-sidebar .wiki-search-form {
    float: left;
    clear: none;
    max-width: none;
    margin: 0;
  }
}
.wiki-page-list-table .wiki-search-form {
  float: left;
}
.wiki-page-list-table .table-responsive {
  padding-left: 15px;
  padding-right: 15px;
}
.wiki-page-list-table .table-responsive .grid-view {
  padding: 15px 0;
}
.wiki-page-list-table .table-responsive .grid-view .pagination {
  margin-bottom: 0;
}
.wiki-page-list-table .table-responsive table a:hover {
  color: #21A1B3;
}
.wiki-page-list-table .table-responsive table .wiki-page-list-row-title {
  font-size: 16px;
  font-weight: 600;
}
.wiki-page-list-table .table-responsive table .wiki-page-list-row-title a {
  display: block;
}
.wiki-page-list-table .table-responsive table .wiki-page-list-row-title a:hover {
  color: #000;
}
.wiki-page-list-table .table-responsive table td {
  font-size: 14px;
  border: none;
}
.wiki-page-list-table .table-responsive table td:hover {
  cursor: pointer;
}
.wiki-page-list-table .table-responsive table td:first-child {
  padding-left: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.wiki-page-list-table .table-responsive table td:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wiki-page-list-table .table-responsive .pagination > .active > a,
.wiki-page-list-table .table-responsive .pagination > .active > span,
.wiki-page-list-table .table-responsive .pagination > .active > a:hover,
.wiki-page-list-table .table-responsive .pagination > .active > span:hover,
.wiki-page-list-table .table-responsive .pagination > .active > a:focus,
.wiki-page-list-table .table-responsive .pagination > .active > span:focus {
  background-color: #21A1B3;
  border-color: #21A1B3;
}
@media (max-width: 1199px) {
  .wiki-page-list-table .table-responsive {
    border: none;
  }
  .wiki-right-part:not(.visible-lg) {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .layout-content-container .wiki-page-content .wiki-page-body {
    padding-left: 0;
    padding-right: 0;
  }
}
.wiki-preview {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 10px;
}
.wiki-preview .wiki-preview-content {
  margin-bottom: 10px;
}
.wiki-icon-print {
  float: right;
  cursor: pointer;
}
@media print {
  .wiki-icon-print,
  .wiki-menu,
  .wiki-content-info,
  .social-controls,
  .comment-container,
  .footer-nav,
  .space-nav,
  #topbar-first {
    display: none;
  }
  .layout-content-container .wiki-content {
    border: none;
  }
  .space-layout-container {
    margin: 0;
  }
  #page-content-wrapper {
    padding: 0;
  }
}
